<div class='overlay'>
	<h1 style="text-align: center; font-weight: initial; font-size: 80px; color: black;">About Us</h1>
</div>
<blockquote>
    <span>“</span>22 percent of students applying to competitive colleges receive individualized counseling beyond what is offered by their high school counselors<span>”</span>
    <p><em>-- source</em></p>
</blockquote>
<h2>WHAT IS HAPPENING?</h2>  
<p>Many people in today’s society face or have faced educational injustice, an injustice which exists because there is an inequity in educational opportunities between different groups of people, leading to a gap in academic and learning results between these different groups. The gap caused by income has been tackled by a variety of programs. Most programs aim at giving students extra help with school work, helping them through the college application process, and getting students one-on-one attention with tutors. While these programs do help many students who are in need, there are still those who are falling through the cracks.The biggest issue is that these programs are generally held after school or at other specific times, thus requiring students to make time in their own schedule if they want to get help. <p>
<p>&nbsp;</p>
<hr>
<p>&nbsp;</p>
<h2>OUR MISSION</h2>  
<p style="font-size: 23px; text-align: center;"><em>At Connect2Achieve, we aim to close that gap by providing a platform that allows both students and tutors to help and guide one another without the constraint of time and location.</em></p>
<p>&nbsp;</p>
<hr>
<h2>HOW CAN YOU CONNECT?</h2>
<div class="row">
  <div class="col-md-6">
  	<h3>High School Students</h3>
	<p>Post to a wealth of mentors with any questions you have about applications, resumes, or general coursework. Mentors are available to guide you towards success in higher academic achievement. Search previously asked questions or ask your own. Directly message a mentor for further inquiry. Visit the events page to see what kinds of group study meetings or application workshops are happening near you and connect with your mentors and fellow mentees in person.</p>
</div>
  <div class="col-md-6">
  	<h3>College Mentors</h3>
	<p>Register as a tutor and start making an impact on high school students’ lives across the nation. Respond to posts on the message board, create events that allow you to meet up with students to work on applications, resumes, or everyday academic needs. Become a mentor and contribute to Connect2Achieve as much as you would like, anytime, anywhere. </p>
	</div>
</div>
<hr>
<h2>THE TEAM</h2>

<hr>
<p>&nbsp;</p>
<div class="finale">
	<h1 style="font-weight: bolder; text-align: center;">CONNECT AND ACHIEVE.<h1>
</div> 

