<admin-navbar></admin-navbar>

<h1>Employee Availability</h1>
<div class="container">

	<div class="row">
		<label class="label-control availableHeader"><h4>Days</h4></label>
		<div class="form-group checkboxdays">
			<label><input type="checkbox" ng-model="addCtrl.employee.days['mon']"> Mon</label>
			<label><input type="checkbox" ng-model="addCtrl.employee.days['tue']"> Tue</label>
			<label><input type="checkbox" ng-model="addCtrl.employee.days['wed']"> Wed</label>
			<label><input type="checkbox" ng-model="addCtrl.employee.days['thu']"> Thu</label>
			<label><input type="checkbox" ng-model="addCtrl.employee.days['fri']"> Fri</label>
			<label><input type="checkbox" ng-model="addCtrl.employee.days['sat']"> Sat</label>
			<label><input type="checkbox" ng-model="addCtrl.employee.days['sun']"> Sun</label>
		</div>
	</div>

	<div class="row no-padding">
		<label class="label-control availableHeader"><h4>Locations</h4></label>
		<div class="form-group checkboxlocations col-md-6">
			<label ng-repeat='location in addCtrl.locations'> 
				<input ng-model='addCtrl.employee.locations[location.id]' type="checkbox" id="{{location.id}}">&nbsp; {{location.name}}    
			</label>
		</div>
	</div>

	<div class="row no-padding">
		<label class="label-control availableHeader"><h4>Positions</h4></label>
		<div class="form-group checkboxlocations col-md-6">
			<label ng-repeat='category in addCtrl.categories'> 
				<input ng-model='addCtrl.employee.categories[category.id]' type="checkbox" id="{{category.id}}">&nbsp; {{category.category}}    
			</label>
		</div>
	</div>

	<div class="row">
		<button class="col-md-2 btn-sm btn-primary" ng-click="addCtrl.updateEmployeeAvailability()">Save Availability</button>
	</div>
	
</div>
