<h1>Hi, Student</h1>
<div class='upcoming-events'>
	<h4>Events coming up within the next week</h4>
	<ul>
		<li>Event1</li>
		<li>Event2</li>
		<li>Event3</li>
		<li>Event3</li>
	</ul>

</div>
<div class='joined-events'>
	<h4>Events that you have joined</h4>
	<ul>
		<li>Event1</li>
		<li>Event2</li>
		<li>Event3</li>
		<li>Event3</li>
	</ul>
</div>
<div class='asked-questions'>
	<h4>Questions you have asked</h4>
	<ul>
		<li>Question 1</li>
		<li>Question 2</li>
		<li>Question 3</li>
	</ul>
</div>
