<div class="row">
  <div class="col-md-6">
	<h1 ng-bind="eventProCtrl.event.name">This is event profile</h1>
	<h3>Location: <i class="fa fa-map-marker"></i> <span ng-bind="eventProCtrl.event.city"></span>,<span ng-bind="eventProCtrl.event.state"></span></h3>
	<h3>Category: <i class="fa fa-tag"></i> <span ng-bind="eventProCtrl.event.event_category"></span></h3>
	<h3>Address: <i class="fa fa-location-arrow"></i> <span ng-bind="eventProCtrl.event.address"></span></h3>
	<h3>Created by: <span ng-bind="eventProCtrl.event.first_name"></span> <span ng-bind="eventProCtrl.event.last_name"></span> » <span ng-bind="eventProCtrl.event.created_at | date:'MM/dd/yyyy'"></span></h3>
	<h3>Description: </h3><span style="display: block;"ng-bind="eventProCtrl.event.description"></span>
	<button style="display: block; width: 40%;"class="btn btn-primary btn-lg pull-right" ng-click="eventProCtrl.join()">Join</button>
	<br>
	<br>
	<h2>Map of your event</h2>
	<ui-gmap-google-map center='eventProCtrl.map.center' zoom='eventProCtrl.map.zoom'>
		<ui-gmap-marker coords="eventProCtrl.marker.coords" options="eventProCtrl.marker.options" events="eventProCtrl.marker.events" idkey="eventProCtrl.marker.id">
	</ui-gmap-google-map>
	</div>
  <div class="col-md-6">
  	<div class="panel panel-default">
  		<!-- Default panel contents -->
  		<div class="panel-heading">Participants</div>
  		<input type="text" class="form-control" placeholder="Search participant..." ng-model="searchText" style="width: 30%;float: right;">
	  <!-- Table -->
	  <table class="table">
	    <thead>
	    	<tr>
	    		<th>Name</th>
	    		<th>From</th>
	    	</tr>
	    </thead>
	    <tbody>
	    	<tr ng-repeat ="participant in eventProCtrl.event.participants | filter: searchText">
	    		<td>{{participant.first_name}} {{participant.last_name}}</td>
	    		<td>{{participant.city}}, {{participant.state}}</td>
	    	</tr>
	    </tbody>
	  </table>
	</div>
	<h2>Announcement</h2>
	  <p>Hey guys the events is happening in two days</p>
	  <p style="text-align: right;"><a href="">Creator</a> -- Feb/24/2016</p>
	  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hey guys is anyone from the south</p>
	  <p style="text-align: right;"><a href="">Student #1</a> » Feb/24/2016</p>
	  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i need a ride</p>
	  <p style="text-align: right;"><a href="">Student #2</a> » Feb/24/2016</p>
	  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i can give u a ride</p>
	  <p style="text-align: right;"><a href="">Student #3</a> » Feb/24/2016</p>
  </div>
</div>