<div class='leftside'>
	<div class='nearby-events'>
		<h4>Events near you</h4>
		<ul>
			<li>Event1</li>
			<li>Event2</li>
			<li>Event3</li>
			<li>Event3</li>
		</ul>

	</div>
	<div class='other-events'>
		<h4>Other Events</h4>
		<ul>
			<li>Event1</li>
			<li>Event2</li>
			<li>Event3</li>
			<li>Event3</li>
		</ul>
	</div>
</div>

<div class='asked-questions'>
	<input type='text' ng-model='forumCtrl.question.message' placeholder='Ask a question'>
	<button ng-click="forumCtrl.askQuestion()" class='btn btn-xs btn-primary'>Post</button>
	<h4>Questions you have asked</h4>
	<ul>
		<li>Question 1</li>
		<li>Question 2</li>
		<li>Question 3</li>
	</ul>
</div>
