<!-- <h1>Here is the resource page</h1> -->
<div class="page-header">
  <h1>Resources</h1>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">College</div>

  <!-- Table -->
  <table class="table">
    <tr>
	  <td><a href="https://www.collegeboard.org/">College Board</a></td>
	  <td>Information on college planning and preparation, as well as different standardized tests.</td>
	<tr/>
	<tr>
	  <td><a href="https://collegereadiness.collegeboard.org/sat?navid=gh-sat">College Board SAT</a></td>
	  <td>Get SAT information and prep help.</td>
	<tr/>
	<tr>
	  <td><a href="https://colleges.niche.com/">Niche</a></td>
	  <td>Search for scholarships. Explore student reviews and polls pertaining to various colleges, universities, and institutes.</td>
	<tr/>
  </table>
</div>

<div class="panel panel-default">
<div class="panel-heading">Careers/Internships</div>
  <table class="table">
    <tr>
	  <td><a href="http://public.careercruising.com/en/">Career Cruising</a></td>
	  <td> Explore different career paths, get to know what kind of education and work experience is required to pursue any particular career.</td>
	<tr/>
	<tr>
	  <td><a href="http://www.monster.com/career-advice/article/resume-writing-help">Resume Writing Help</a></td>
	  <td>Tips and information on how to write a good resume.</td>
	<tr/>
	<tr>
	  <td><a href="https://resumegenius.com/cover-letters-the-how-to-guide">Cover Letter Help</a></td>
	  <td>Cover letter samples and writing guide.</td>
	<tr/>
  </table>
</div>

<div class="panel panel-default">
<div class="panel-heading">Learning</div>
  <table class="table">
    <tr>
	  <td><a href="https://www.khanacademy.org/">Khan Academy</a></td>
	  <td>Learn for free about math, art, computer programming, economics, physics, chemistry, biology, medicine, finance, history, and more.</td>
	<tr/>
	<tr>
	  <td><a href="https://owl.english.purdue.edu/owl/">Purdue OWL</a></td>
	  <td>Writing resources and instructional material</td>
	<tr/>
	<tr>
	  <td><a href="https://www.codecademy.com/">Codecademy</a></td>
	  <td>Interactive courses on how to program. Free coding classes in 9 different programming languages.</td>
	<tr/>
	<tr>
	  <td><a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hph.html">HyperPhysics</a></td>
	  <td>Helpful resource for Physics topics and concepts</td>
	<tr/>
  </table>
</div>

