
<!-- Link to bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type='text/css' href='css/tutorAccount.css'>

 <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



<div class = "container">
	<h1> Hi, User </h1>

<!-- ! Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Here are your events</h2>
            </div>
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-check"></i>One</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-flash"></i>Two</a>
                    </li>
                    <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-envelope-square"></i>Three</a>
                    </li>
                    <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-heart"></i>Four</a>
                    </li>
                     <li class=""><a href="#service-five" data-toggle="tab"><i class="fa fa-users"></i>Five</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h4>One</h4>
                        <h5> Event description </h5>
                        <p>Lorem ipsum dolor sit amet, eget amet, aleo id aliquam ipsum integer commodo, justo neca, nibh quis, turpis</p>

                        <fieldset class="form-group">
						    <label for="studentSelect">Select a Student
						    </label>
						    <select multiple class="form-control" id="studentSelect">
						      <option>Student 1</option>
						      <option>Student 2</option>
						      <option>Student 3</option>
						      <option>Student 4</option>
						      <option>Student 5</option>
						    </select>
					  	</fieldset>

                        <button type="button" class="btn btn-default">Edit</button>
                    </div>
                       
                    <div class="tab-pane fade" id="service-two">
                        <h4>Two</h4>
                        <h5> Event description </h5>
                        <p>Lorem ipsum dolor sit amet, eget amet, aleo id aliquam ipsum integer commodo, justo neca, nibh quis, turpis</p>

                        <fieldset class="form-group">
						    <label for="studentSelect"> Select a Student
						    </label>
						    <select multiple class="form-control" id="studentSelect">
						      <option>Student 1</option>
						      <option>Student 2</option>
						      <option>Student 3</option>
						      <option>Student 4</option>
						      <option>Student 5</option>
						    </select>
					  	</fieldset>
                        

                        <button type="button" class="btn btn-default">Edit</button>
                        
                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <h4>Three</h4>
                        <h5> Event description </h5>
                        <p>Lorem ipsum dolor sit amet, eget amet, aleo id aliquam ipsum integer commodo, justo neca, nibh quis, turpis</p>

                        <fieldset class="form-group">
						    <label for="studentSelect">Select a Student
						    </label>
						    <select multiple class="form-control" id="studentSelect">
						      <option>Student 1</option>
						      <option>Student 2</option>
						      <option>Student 3</option>
						      <option>Student 4</option>
						      <option>Student 5</option>
						    </select>
					  	</fieldset>
                        

                        <button type="button" class="btn btn-default">Edit</button>
                        
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        <h4>Four</h4>
                        <h5> Event description </h5>
                        <p>Lorem ipsum dolor sit amet, eget amet, aleo id aliquam ipsum integer commodo, justo neca, nibh quis, turpis</p>
                        <fieldset class="form-group">
						    <label for="studentSelect">Select a Student
						    </label>
						    <select multiple class="form-control" id="studentSelect">
						      <option>Student 1</option>
						      <option>Student 2</option>
						      <option>Student 3</option>
						      <option>Student 4</option>
						      <option>Student 5</option>
						    </select>
					  	</fieldset>
                        

                        <button type="button" class="btn btn-default">Edit</button>
                        
                    </div>
                 	<div class="tab-pane fade" id="service-five">
                        <h4>Five</h4>
                        <h5> Event description </h5>
                        <p>Lorem ipsum dolor sit amet, eget amet, aleo id aliquam ipsum integer commodo, justo neca, nibh quis, turpis<p>
                        	<fieldset class="form-group">
						    <label for="studentSelect">Select a Student
						    </label>
						    <select multiple class="form-control" id="studentSelect">
						      <option>Student 1</option>
						      <option>Student 2</option>
						      <option>Student 3</option>
						      <option>Student 4</option>
						      <option>Student 5</option>
						    </select>
					  	</fieldset>
                        

                        <button type="button" class="btn btn-default">Edit</button>
                    </div>
                </div>
            </div>
        </div>

        <h2> Questions you have answered </h2> <hr>
        <a href ="#"> Can you guys give me some input on my resume </a>
        <a href ="#"> Questions on college applications </a>
    </div>

        <hr>