.profile-container {
    border: 1px solid lightgray;
    padding: 40px;
}

#nav a{
    color: lightblue;
    font-size: 20px;
}

.upcoming-events {
    display:inline-block;
    width: 45%;
    background-color:white;
    margin-right: 2em;
    vertical-align: top;

}

.joined-events {
    display:inline-block;
    width: 45%;
    background-color:white;

}

.asked-questions {
    margin-top: 1em;
    background-color:white;
}

li {
    list-style: none;
}

    .min-font {
        font-size: x-small;
    }