body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-image: url('./../images/loginv2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.form-signin {
    background-color: white;
    border-radius: 10px;
    max-width: 330px;
    padding: 30px;
    margin: 0 auto;
    opacity: 0.9;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}