#logo {
	display: inline-block;
}

	#logo h2{
		display: inline-block;
		font-weight: bolder;
		color: #99CCCC;
		margin-top: 0px;
	    margin-bottom: 0px;
	    padding-top: 12px;
	}

.navbar {
	padding-left: 2em;
}

#nav {
	color: #CCCCCC;
}

	#nav a{
		color: white;
		font-size: 20px;
	}

	#nav a:hover {
	  color: #FF9966 ;
	  background-color: transparent ;
	}

li {
	margin-right: 40px;
}